@using System.Web.UI.WebControls
@using Vape.CMS.DAL.Functions
@model Vape.CMS.DAL.DTO.ProductDto
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.HiddenFor(m => m.ProductId)
@Html.HiddenFor(m => m.ProductColorTieDto.ProductColorTieId)
@Html.HiddenFor(m => m.ProductNicotineTieDto.ProductNicotineTieId)
@Html.HiddenFor(m => m.ProductSizeTieDto.ProductSizeTieId)

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header" data-background-color="red">
                <h4 class="title">Add Product</h4>
            </div>
            <div class="card-content">

                <form></form>

            </div>
        </div>
        <div class="card">
            <div class="card-header" data-background-color="red">
                <h4 class="title">Colors</h4>
            </div>
            <div class="card-content">

                <form>
                    
                        

                        
                    </div>
                </form>

            </div>
        </div>

        <div class="card">
            <div class="card-header" data-background-color="red">
                <h4 class="title">Nicotine</h4>
            </div>
            <div class="card-content">

                <form>
                    <div class="row">
                            
                    </div>
                </form>

            </div>
        </div>
        <div class="card">
            <div class="card-header" data-background-color="red">
                <h4 class="title">Sizes</h4>
            </div>
            <div class="card-content">

                <form>
                    <div class="row">
                            
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(function () {
        $("#SaveProduct").on("click", function () {
            SaveProduct();
        });
        $("#SaveColor").on("click", function () {
            SaveColor();
        });
        $("#SaveNicotine").on("click", function () {
            SaveNicotine();
        });
        $("#SaveSize").on("click", function () {
            SaveSize();
        });

        function SaveProduct() {
            var myData = {
                ProductId: ($("#ProductId").val() === 0) ? null : $("#ProductId").val(),
                Product: $("#Product").val(),
                Amount: $("#Amount").val(),
                Discount: $("#Discount").val(),
                Discription: $("#Discription").val(),
                CategoryId: $("#CategoryId").val()
            }

            console.log('Page Data', myData);

            $.ajax({
                url: '/Products/CreateUpdateProducts',
                type: 'POST',
                dataType: "json",
                contentType: 'application/json',
                data: JSON.stringify(myData),
                success: function (result) {
                    window.location.reload();
                },
                error: function (err) {
                    console.log('err');
                    alert(err.statusText);
                }
            });
        };



        function SaveColor() {
            var myData = {
                ProductId: ($("#ProductId").val() === 0) ? null : $("#ProductId").val(),
                ColorId: ($("#ProductColorTieDto_ColorId").val() === 0) ? null : $("#ProductColorTieDto_ColorId").val(),
                ColorAmount: $("#ProductColorTieDto_ColorAmount").val(),
                ColorDiscount: $("#ProductColorTieDto_ColorDiscount").val(),
                ColorStock: $("#ProductColorTieDto_ColorStock").val()
            }

            console.log('Page Data', myData);

            $.ajax({
                url: '/Products/CreateUpdateProductColor',
                type: 'POST',
                dataType: "json",
                contentType: 'application/json',
                data: JSON.stringify(myData),
                success: function (result) {
                    $("#ColorId").val(result);
                },
                error: function (err) {
                    console.log('err');
                    alert(err.statusText);
                }
            });
        };


        function SaveNicotine() {
            var myData = {
                ProductId: ($("#ProductId").val() === 0) ? null : $("#ProductId").val(),
                NicotineId: ($("#ProductNicotineTieDto_NicotineId").val() === 0) ? null : $("#ProductNicotineTieDto_NicotineId").val(),
                NicotineAmount: $("#ProductNicotineTieDto_NicotineAmount").val(),
                NicotineDiscount: $("#ProductNicotineTieDto_NicotineDiscount").val(),
                NicotineStock: $("#ProductNicotineTieDto_NicotineStock").val()
            }

            console.log('Page Data', myData);

            $.ajax({
                url: '/Products/CreateUpdateProductNicotine',
                type: 'POST',
                dataType: "json",
                contentType: 'application/json',
                data: JSON.stringify(myData),
                success: function (result) {
                    $("#NicotineId").val(result);
                },
                error: function (err) {
                    console.log('err');
                    alert(err.statusText);
                }
            });
        };

        function SaveSize() {
            var myData = {
                ProductId: ($("#ProductId").val() === 0) ? null : $("#ProductId").val(),
                SizeId: ($("#ProductSizeTieDto_SizeId").val() === 0) ? null : $("#ProductSizeTieDto_SizeId").val(),
                SizeAmount: $("#ProductSizeTieDto_SizeAmount").val(),
                SizeDiscount: $("#ProductSizeTieDto_SizeDiscount").val(),
                SizeStock: $("#ProductSizeTieDto_SizeStock").val()
            }

            console.log('Page Data', myData);

            $.ajax({
                url: '/Products/CreateUpdateProductSize',
                type: 'POST',
                dataType: "json",
                contentType: 'application/json',
                data: JSON.stringify(myData),
                success: function (result) {
                    $("#SizeId").val(result);
                },
                error: function (err) {
                    console.log('err');
                    alert(err.statusText);
                }
            });
        };

</script>
