
.vs/config/applicationhost.config
.vs/Online.Store/v15/.suo
.vs/Online.Store/v15/sqlite3/storage.ide
Online.Store/bin/Online.Store.dll
Online.Store/bin/Online.Store.pdb
Online.Store/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Online.Store/obj/Debug/Online.Store.csproj.CoreCompileInputs.cache
Online.Store/obj/Debug/Online.Store.csproj.FileListAbsolute.txt
Online.Store/obj/Debug/Online.Store.csprojResolveAssemblyReference.cache
Online.Store/obj/Debug/Online.Store.dll
Online.Store/obj/Debug/Online.Store.pdb
.vs/Online.Store/v15/.suo
.vs/Online.Store/v15/Server/sqlite3/storage.ide-shm
.vs/Online.Store/v15/Server/sqlite3/storage.ide-wal
Online.Store/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Online.Store/obj/Debug/Online.Store.csproj.CoreCompileInputs.cache
Online.Store/obj/Debug/Online.Store.csprojResolveAssemblyReference.cache
.vs/config/applicationhost.config
.vs/Online.Store/v15/.suo
.vs/Online.Store/v15/Server/sqlite3/storage.ide
*.ide-shm
*.ide-wal
*.dll
*.pdb
*.cache
*.dll
*.pdb
.vs/config/applicationhost.config
Online.Store/obj/Debug/Online.Store.csproj.FileListAbsolute.txt

.vs/Online.Store/v15/.suo
*.cache
*.dll
*.pdb
